body {
  margin: 0;
  font-family: 'Fredoka One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.heading{
  color: aliceblue;
}
.formpage{
  color: aliceblue;
  padding: 5px;
}
.list{
  color: aliceblue;
}
.card{
  background-color: black;
  color: aliceblue;
  border: 2px solid wheat;
  font-size: medium;
 
}
